.card {
  position: relative;
  padding: 1.5rem 1rem 1rem 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.input_group {
  width: 100%; 
  margin-top: 10px;
}

.signout {
  position: absolute !important;
  left: .5rem;
  top: .5rem
}

.signout_icon {
  margin-right: .25rem;
}
